*{
    padding: 0;
    margin: 0;
}

.Titulo{
    background-color: rgb(201, 70, 70);
    color: azure;
    display: flex;
    justify-content: center;
    padding: 4%;
}

.Titulo:hover{
    color: blue;
    transition: 3s;
}

.Texto{
    background-color: rgb(246, 110, 110);
    color: azure;
    justify-content: center;
    
    padding: 3%;
}

.Texto_paragrafo1{
    display: flex;
    margin: 3%;
    justify-content: center;
    font-size: 20px;
}

.Texto_paragrafo2{
    display: flex;
    margin: 3%;
    justify-content: center;
    font-size: 30px;
}

.azul{
    color: blue;
}
